*.out
*.test
*.xml
*.swp
.idea/
*.iml
*.cov
*.html
*.tmp
.tmp/
.build/
/pbgen
/vendor
/bin
/protoc
.vagrant
.DS_Store
*.log*
*.zip
*.deb
.phabricator-comment
*coverage*
.cache
.idea
*.pyc
*.egg-info
*.orig
out.txt
.coverage
coverage.xml
cover
jenkins.xml
.cache
/env/

# Emacs
*~
.\#*
\#*\#
.unison.*.tmp
workspace/
.gen/mesos/
*pb.go
*pb.yarpc.go
