# Until T663752 is resolved, use an older version of docker-py which
# is compatible with docker 1.9.1 (jenkins box) and 1.12.x (Laptop).
docker-py==1.7.2
pyyaml
pytest-xdist
pytest-forked
filelock==3.0.10
pytest-repeat
pytest-random-order

# Integration tests requirements.
pytest==3.10.1
enum
protobuf


# Performance tests requirements.
Jinja2>=1.1.0

# Mkdocs requirements.
mkdocs

# Linting and autoformatting
autopep8==1.4.4
