
@import "../../node_modules/superfine/superfine.scss";

a.headerlink {
  display: none;
}

.db-wrapper {
  background: $uber-white-40;
}

.db-inner {
  background: $white;
  margin: 0 auto;
  max-width: 1500px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.db-header {
  background: $uber-black;
  height: 290px;
  position: relative;
}

@mixin header-centered {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  @include media-query(palm) {
    height: 70%;
  }
}


.db-header__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.db-header__bg__stroke {
  fill: none;
  stroke: #1a2b2a;
  stroke-width: 1.5px;
}

.db-header__logo {
  @include header-centered;
}

.db-header__logo__description {
  color: $uber-white-80;
}

.db-header__logo__title {
  color: $white;
}

.db-header__search {
  right: 70px;
  @include header-centered;
  @include media-query(palm) {
    right: 30px
  }
}

.db-header__search__wrap {
  position: relative;
}

.db-header__search__icon {
  color: #fff;
  font-size: 16px;
  position: absolute;
  transition: all 0.2s linear;
  top: 3px;
  left: 0;
}

.db-header__search__input:focus ~ .db-header__search__icon {
  font-size: 22px;
}

@mixin search-focused {
  font-size: 22px;
  border-bottom: 3px solid $uber-black-60;
  width: 300px;
}

.db-header__search__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $uber-black-80;
  color: $uber-white-80;
  font-size: 12px;
  outline: 0;
  padding: 3px 0 12px 30px;
  transition: all 0.2s ease-out;
  width: 160px;

  &::-webkit-input-placeholder {
    color: $uber-black-40;
    transition: color 0.2s;
  }
  &:focus {
    font-size: 22px;
    border-bottom: 3px solid $uber-black-60;
    width: 300px;
    &::-webkit-input-placeholder {
      color: $uber-white-60;
    }
  }
}

.db-header__bit {
  background: $primary;
  color: $white;
  bottom: -80px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  right: 70px;
  height: 160px;
  width: 160px;
  padding: 15px 20px 35px;
  transition: background 0.2s linear;
  z-index: 2;
  &:hover {
    background: $uber-blue-120;
  }

  @include media-query(palm) {
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
  }
}

.db-header__bit__more {
  @extend .primary-font--semibold;
  position: absolute;
  right: 19px;
  bottom: 11px;
  text-transform: uppercase;
}

.db-header__bit__arrow {
  font-size: 20px;
  line-height: 18px;
}

.db-navigation {
  white-space: nowrap;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  > ul {
    font-size: 14px;
    font-weight: $font-weight-semibold;
  }
  .toctree-l1 {
    display: inline;
    margin: 0 45px 0 0;
    position: relative;
    > a {
      border-top: 4px solid white;
      display: inline-block;
      color: $uber-white-120;
      padding: 27px 0 5px 0;
      text-transform: uppercase;
      transition: border-top 0.2s linear, color 0.2s linear;
      &:not(:last-child) {
        padding-right: 16px;
        &::after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid $uber-white;
          display: block;
          content: '';
          position: absolute;
          right: 0;
          transition: color 0.2s linear;
          top: 6px;
        }
      }
    }
    > ul {
      background: $white;
      border: 1px solid $uber-white-40;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      visibility: hidden;
      position: absolute;
      left: 0;
      margin-top: -20px;
      opacity: 0;
      min-width: 160px;
      font-weight: 400;
      transition: all 0.2s linear;
      z-index: 2;
    }
    &:hover {
      > ul {
        visibility: visible;
        margin-top: -2px;
        opacity: 1;
        height: auto;
      }
    }
    &.current, &:hover {
      > a {
        color: $primary;
        border-top-color: $primary;
        &::after {
          border-top-color: $primary;
        }
      }
    }

    @include media-query(palm) {
      display: block;
      margin: 10px 0 0;
      > a {
        border-top: 0;
        padding: 0;
        &::after {
          display: none !important;
        }
      }
      > ul {
        visibility: visible;
        position: static;
        opacity: 1;
        transition: none;
        margin: 0 !important;
        box-shadow: none;
        border: 0;
      }
    }

  }
  .toctree-l2 {
    margin: 0;
    border-bottom: 1px solid $uber-white-40;

    &:last-child {
      border-bottom: 0;
    }
    > a {
      background: transparent;
      display: block;
      padding: 10px 15px;
      transition: background 0.2s linear;
      &:hover {
        background: $uber-white-20;
      }
    }
  }
}

.db-side-menu {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 20px 0 0 0;
    padding-left: 29px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $uber-white-120;
    font-size: 12px;
    font-weight: 500;
    &:hover {
      color: $primary;
    }
  }

  a.current[href=""] {
    color: $primary;
    &::before {
      display: block;
      position: absolute;
      border-left: 2px solid $primary;
      content: '';
      height: 30px;
      left: 0;
      margin-top: -5px;
    }
  }

  // Hide the first level of links.
  li.toctree-l1, li.toctree-l2 {
    padding-left: 0;
    > a {
      display: none;
    }
  }

  li.toctree-l3 {
    position: relative;
    > a {
      text-transform: uppercase;
    }
  }

  @include media-query(palm) {
    li {
      margin-top: 10px;
    }
    li.toctree-l3 {
      margin-left: -28px;
    }
  }

}

.db-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  h6 {
    margin: 0;
    font-weight: normal;
  }
  li {
    padding-left: 33px;
    margin: 0 0 12px;
    ul {
      margin-top: 12px;
    }
    &:first-child {
      margin-top: 0;
    }
    &::before {
      color: $uber-white-40;
      content: '\ea88';
      font-family: 'uber-icons';
      position: absolute;
      font-size: 14px;
      margin-left: -33px;
    }
  }
}

.db-list--columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > li {
    width: 50%;
  }
}

.db-content {

  ul {
    @extend .db-list;
  }

  .docutils {
    border: 0;
    color: $uber-black;
    font-size: 12px;
    > thead {
      border: 0;
      border-bottom: 2px solid #dbdbda;
      tr, th {
        border: 0;
      }
    }
    > tbody {
      border-bottom: 1px solid #dbdbda;

      th, td {
        border: 0;
        border-right: 1px solid #dbdbda;
        color: $uber-black;
        font-weight: 400;
        &:last-child {
          border-right: 0;
        }
        @include media-query(palm) {
          border-right: 0;
        }
      }
      tr {
        border-right: 0;
        @include media-query(palm) {
          border: 0;
        }
        &:hover {
          td {
            background: $uber-blue-10;
          }
        }
      }
      tr.row-even {
        background: $uber-white-10;
      }
    }
  }

  .highlight {
    background: $uber-white-10;
    border: 1px solid $uber-white-20;
    margin: 12px 0;
    overflow: auto;

    > pre {
      margin: 15px 20px;
      line-height: 150%;
    }
  }
}

.db-live {
  color: $green;
  font-size: 14px;
  float: right;
  padding-left: 22px;
  text-align: right;
  line-height: 100%;
  margin-top: 20px;
  &::before {
    position: absolute;
    margin-left: -22px;
    display: block;
    font-family: 'uber-icons';
    content: '\ea14';
  }
}

.db-more {
  font-weight: $primary-font-weight-semibold;
  text-transform: uppercase;
  position: relative;
  &::after {
    position: absolute;
    font-family: 'uber-icons';
    content: '\ea5b';
    display: block;
    right: -20px;
    line-height: 16px;
    top: 0;
    transition: right 0.3s;
  }
  &:hover {
    &::after {
      right: -30px;
    }
  }
}

.db-gray-bar {
  background: $uber-white-10;
  overflow: hidden;
}

.db-index__list {
  @extend .db-list;
  color: $uber-black-60;
  font-size: 12px;
}

.db-getting-started__item {
  color: $uber-black-80;
}

.db-getting-started__icon {
  min-width: 60px;
  max-width: 80px; 
  margin-bottom: 30px;
  width: 25%;
}

.db-contact {
  background: $uber-black;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
}


.no-index {
  .db-inner {
    background: #ddd;
    position: relative;
  }

  .db-header__bit {
    bottom: 0;
  }

  .db-header {
    height: 340px;
    margin-left: 40px;

    .db-header__logo {
      height: 70%;
      margin-left: 85px !important;
    }

    .db-header__search {
      height: 70%;
    }

  }
  
  .db-navigation {
      position: fixed;
      top: 0;
      height: 100%;
      background: black;
      color: white;
      max-width: 80px;
      transition: max-width 1.0s linear 0s;
      -webkit-transition: max-width 1.0s linear 0s;
      width: auto;
      padding-left: 40px;
      z-index: 2;



      .toctree-l1 {
        display: block;
        a::after {
          border: 0;
        }
        .reference  {
          visibility: hidden;
          opacity: 0;
          transition: all 1s linear 0s;
          -webkit-transition: all 0.7s linear 0s;
          border: 0;
          color: white;
          text-transform: none;
        }
        ul {
          max-height: 0;
          opacity: 0;
          transition: all 0.5s linear 0s;
          -webkit-transition: all 0.5s linear 0s;
          pointer-events: none;

        }
        &:hover {
            ul {
                max-height: 600px;
                opacity: 1;
                display: block;
                background: white;
                pointer-events: auto;
                li {
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                    }
                }
                a {
                    color: $uber-black;
                }
            }
        }
      }
     &:hover {
       max-width: 600px;

       .reference {
        visibility: visible;
              opacity: 1;
      }
     }



     li.toctree-l1:before {
         font-family: 'uber-icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            margin: 0 10px 0 -10px;
            font-size: 18px;
            content: '\ea60';
            cursor: pointer;
      }
      li.toctree-l1:nth-child(0):before {
            content: '\ea36';
      }
      li.toctree-l1:nth-child(1):before {
            content: '\ea32';
      }
      li.toctree-l1:nth-child(2):before {
            content: '\ea38';
      }
      li.toctree-l1:nth-child(3):before {
            content: '\ea18';
      }
      li.toctree-l1:nth-child(5):before {
            content: '\ea29';
      }
      li.toctree-l1:nth-child(4):before {
            content: '\ea25';
      }
  }

  .db-header + .layout {
    margin: -100px 0 0 160px !important;
    padding-top: 40px;
    padding-left: 20px;
    z-index: 1;
    position: relative;
    background: white;

  }

}




.db-header__go_back {
  display: block;
    position: absolute;
    right: 70px;
    top: 30px;
    border: 1px #11939A solid;
    text-align: center;
    width: 160px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
  &:hover {
    background: white;
  }
}

.admonition.note {
  background: #ddd;
  margin: 15px 0;
  padding: 10px;
  .first {
    display: none;
  }
  .last {
    margin-bottom: 0;
  }
}

/* Syntax highlighting
-------------------------------------------------- */

.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
