# Used for launching peloton job
peloton-client~=0.8.0

# To parse yaml config for vCluster
pyyaml>=3.12

# To monitering the the variation job status
deepdiff>=2.5.1

# To get the Mesos/Peloton leader
kazoo>=2.2.1

# Data framework to process performance data
pandas>=0.21.0
tabulate>=0.7.7
bs4>=0.0.1
jinja2>=1.1.0

retry>=0.9.2
m3>=3.0.0
